
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Grains</h4>
        </div>
        <form action="{% url 'addgrains' %}" method="POST">
            <div class="modal-body">
                <input id="name">
                <input id="degrees_lovibond">
                {%  csrf_token %}
            </div>
        <div class="modal-footer">
            <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    </div>