{% extends 'homebrewdatabase/index.html' %}
{% load staticfiles %}

{% block title %}<title>Homebrew Materials Database</title>{% endblock %}
{% block content %}

<h1>Grains</h1>



    <!--Button for modal to add grains-->
        <button id="add_grain" type="button" data-toggle="modal" data-target="#addgrain" class="btn btn-primary">
            Add Grains
        </button>

    <!--Modal data begins here to add grains-->
        <div class="modal fade" id="addgrain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                   {% include 'homebrewdatabase/addgrains.html' %}
               </div>
            </div>
        </div>

    <!--Modal data begins here to edit grains-->
        <div class="modal fade" id="updategrain" tabindex="-1" role="dialog" aria-labelledby="updateGrainLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/updategrains.html' %}
                </div>
            </div>
        </div>

    <!--Modal data begins here to delete grains-->
        <div class="modal fade" id="deletegrain" tabindex="-1" role="dialog" aria-labelledby="deleteGrainLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/deletegrains.html' %}
                </div>
            </div>
        </div>

    <table id="list_table" class="table table-bordered table-striped">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Degrees (L)</th>
                <th>Grain Type</th>
                <th>Specific Gravity</th>
                <th>Comments</th>
            </tr>
            {% for grain in grains %}
            <tr>
                <td>
                    <a data-toggle="modal"
                       data-target="#deletegrain"
                       href="{% url 'deletegrains' pk=grain.id %}">
                    Delete
                    </a></td>
                <td>
                    <a id="{{ grain.name }}"
                       data-toggle="modal"
                       data-target="#updategrain"
                       href="{% url 'updategrains' pk=grain.id %}">
                    {{ grain.name }}
                    </a>
                </td>
                <td>{{ grain.degrees_lovibond }}</td>
                <td>{{ grain.grain_type }}</td>
                <td>{{ grain.specific_gravity }}</td>
                <td>{{ grain.comments }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}