{% extends 'homebrewdatabase/index.html' %}
{% load staticfiles %}
        {% block title %}<title>Homebrew Materials Database</title>{% endblock %}

        {% block content %}

        {% if form.errors %}
            <div id="validation_errors" class="alert alert-danger">
                {% for value in form.errors.items %}
                    {{ value.1 }}
                {% endfor %}
            </div>
        {% elif errors %}
            <div id="validation_errors" class="alert alert-danger">
                {% for value in errors.items %}
                    {{ value.1 }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Hops</h1>

        <!--Button for modal to add hops-->
        <button id="add_hops" type="button" data-toggle="modal" data-target="#addhops" class="btn btn-primary">
            Add Hops
        </button>

        <!--Modal data begins here to add hops-->
        <div class="modal fade" id="addhops" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                   {% include 'homebrewdatabase/addhops.html' %}
               </div>
            </div>
        </div>

        <!--Modal data begins here to edit hops-->
        <div class="modal fade" id="updatehops" tabindex="-1" role="dialog" aria-labelledby="updateHopLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/updatehops.html' %}
                </div>
            </div>
        </div>

        <!--Modal data begins here to delete hops-->
        <div class="modal fade" id="deletehops" tabindex="-1" role="dialog" aria-labelledby="deleteHopLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/deletehops.html' %}
                </div>
            </div>
        </div>

        <!-- Search form begins here-->
         <form action="{% url 'hops_list' %}" method="GET">
             <input type="text" name="query" id="query">
             <button type="submit" id="submit" class="btn btn-primary">Submit</button>
         </form>
        <!--Table data begins here-->
        <table id="list_table" class="table table-bordered table-striped">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Min Alpha Acid</th>
                <th>Max Alpha Acid</th>
                <th>Country of Origin</th>
                <th>Comments</th>
            </tr>
            {% for hop in hops %}
            <tr>
                <td><a data-toggle="modal"
                        data-target="#deletehops"
                        href="{% url 'deletehops' pk=hop.id %}">Delete</a></td>
                <td><a id="{{ hop.name }}"
                       data-toggle="modal"
                       data-target="#updatehops"
                       href="{% url 'updatehops' pk=hop.id %}">{{ hop.name }}</a></td>
                <td>{{ hop.min_alpha_acid }}</td>
                <td>{{ hop.max_alpha_acid }}</td>
                <td>{{ hop.country }}</td>
                <td>{{ hop.comments }}</td>
            </tr>
            {% endfor %}
        </table>

        {% endblock %}
