{% extends 'homebrewdatabase/index.html' %}
{% load staticfiles %}
        {% block title %}<title>Homebrew Materials Database</title>{% endblock %}

        {% block content %}
        <h1>Hops</h1>

        <!--Button for modal to add hops-->
        <button id="add_hops" type="button" data-toggle="modal" data-target="#addhops" class="btn btn-primary">
            Add Hops
        </button>

        <!--Modal data begins here to add hops-->
        <div class="modal fade" id="addhops" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                   {% include 'homebrewdatabase/addhops.html' %}
               </div>
            </div>
        </div>

        <!--Modal data begins here to edit hops-->
        <div class="modal fade" id="updatehops" tabindex="-1" role="dialog" aria-labelledby="updateHopLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/updatehops.html' %}
                </div>
            </div>
        </div>



        <!--Table data begins here-->
        <table id="hops_list_table" class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Min Alpha Acid</th>
                <th>Max Alpha Acid</th>
                <th>Country of Origin</th>
                <th>Comments</th>
            </tr>
            {% for hop in hops %}
            <tr>
                <td><a id="{{ hop.name }}"
                       data-toggle="modal"
                       data-target="#updatehops"
                        href="{% url 'updatehops' pk=hop.id %}">{{ hop.name }}</a></td>
                <td>{{ hop.min_alpha_acid }}</td>
                <td>{{ hop.max_alpha_acid }}</td>
                <td>{{ hop.country }}</td>
                <td>{{ hop.comments }}</td>
            </tr>
            {% endfor %}
        </table>

        {% endblock %}
