<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/custom.css">
        <title>Hashtag Brews</title>
    </head>
    <body>
        <h1>Hashtag Brews</h1>

        <div id="left">
            <p id="header"><a id="beerdb" href="/beerdb">Homebrew Materials Database</a></p>
        </div>
        <div id="center">
            <p id="header">PyBrew</p>
        </div>
        <div id="right">
            <p id="header">Recipe Creator</p>
        </div>
    </body>
</html>