<html>
    <head>
        <!--Yahoo Pure CDN-->
        <link rel="stylesheet" type="text/css" href="static/homebrewdatabase/css/pure-min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="static/homebrewdatabase/css/custom.css">

        <title>Hashtag Brews</title>
    </head>
    <body>
        <h1>Hashtag Brews</h1>

        <!--This will need to be removed after the Pure UI is validated
        <div id="left">
            <p id="header"><a id="beerdb" href="/beerdb">Homebrew Materials Database</a></p>
        </div>
        <div id="center">
            <p id="header">PyBrew</p>
        </div>
        <div id="right">
            <p id="header">Recipe Creator</p>
        </div>
        -->

        <div class="pure-g">
            <div id="left" class="pure-u-1-3">
                <p id="header">
                    <a href="/beerdb">Homebrew Materials Database</a>
                </p>
            </div>
            <div id="center" class="pure-u-1-3">
                <p id="header">
                    Pybrew
                </p>
            </div>
            <div id="right" class="pure-u-1-3">
                <p id="header">Recipe Creator</p>
            </div>
        </div>

    </body>
</html>