{% extends 'homebrewdatabase/index.html' %}

{% load staticfiles %}
        {% block title %}<title>Yeasts | Homebrew Materials Database</title>{% endblock %}

        {% block content %}
            {% if error_form.errors %}
            <div id="validation_errors" class="alert alert-danger">
                {% for value in error_form.errors.items %}
                    {{ value.1 }}
                {% endfor %}
            </div>
        {% elif errors %}
            <div id="validation_errors" class="alert alert-danger">
                {% for value in errors.items %}
                    {{ value.1 }}
                {% endfor %}
            </div>
        {% endif %}
            <br>
        <div class="yeasts">
            <image src="/static/homebrewdatabase/images/yeasts.jpg" height="90px;">
        </div>

            <!--Modal data begins here to add yeasts-->
            <div class="modal fade" name="addyeasts" id="addyeasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% include 'homebrewdatabase/addyeasts.html' %}
                    </div>
                </div>
            </div>

            <!--Modal data begins here to edit yeasts-->
            <div class="modal fade" id="updateyeasts" tabindex="-1" role="dialog" aria-labelledby="updateYeastLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% include 'homebrewdatabase/updateyeasts.html' %}
                    </div>
                </div>
            </div>

        <!--Modal data begins here to delete yeast-->
        <div class="modal fade" id="deleteyeasts" tabindex="-1" role="dialog" aria-labelledby="deleteYeastLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% include 'homebrewdatabase/deleteyeasts.html' %}
                </div>
            </div>
        </div>
        <!-- Search form begins here-->
        <div class="container" id="search_form">
            <div class="row">
                <div class="form-group row">
                    <form action="{% url 'yeasts_list' %}" method="GET">
                        <div class="col-sm-2">
                            <h4>#Search:</h4>
                            <input type="text" class="form-control" name="query" id="query">
                        </div>
                        <br><br>
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        {% if user.is_authenticated %}
                            <button id="add_yeasts" type="button" data-toggle="modal" data-target="#addyeasts" class="btn btn-success">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        Add Yeasts
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
            <!-- Table data begins here -->
            <table id="list_table" class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Lab</th>
                        <th>Type</th>
                        <th>Form</th>
                        <th>Min Temp</th>
                        <th>Max Temp</th>
                        <th>Attenuation</th>
                        <th>Flocculation</th>
                        <th>Comments</th>
                    </tr>
                    {% for yeast in yeasts %}
                    <tr>
                        {% if user.is_authenticated %}
                        <td><a data-toggle="modal"
                               data-target="#deleteyeasts"
                               href="{% url 'deleteyeasts' pk=yeast.id %}">Delete</a></td>
                        <td><a id="{{ yeast.name }}"
                               data-toggle="modal"
                               data-target="#updateyeasts"
                               href="{% url 'updateyeasts' pk=yeast.id %}">{{ yeast.name }}</a></td>
                        {% else %}
                        <td></td>
                        <td>{{ yeast.name }}</td>
                        {% endif %}

                        <td>{{ yeast.lab }}</td>
                        <td>{{ yeast.yeast_type }}</td>
                        <td>{{ yeast.yeast_form }}</td>
                        <td>{{ yeast.min_temp }}</td>
                        <td>{{ yeast.max_temp }}</td>
                        <td>{{ yeast.attenuation }}</td>
                        <td>{{ yeast.flocculation }}</td>
                        <td>{{ yeast.comments }}</td>
                    </tr>
                    {% endfor %}
            </table>
        {% endblock %}
