{% extends 'homebrewdatabase/index.html' %}

{% load staticfiles %}
        {% block title %}<title>Yeasts | Homebrew Materials Database</title>{% endblock %}

        {% block content %}

            <h1>Yeasts</h1>
            <!--Button for modal to add yeasts-->
            <button id="add_yeasts" type="button" data-toggle="modal" data-target="#addyeasts" class="btn btn-primary">
                Add Yeasts
            </button>

            <!--Modal data begins here to add hops-->
            <div class="modal fade" id="addyeasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% include 'homebrewdatabase/addyeasts.html' %}
                    </div>
                </div>
            </div>

            <!-- Table data begins here -->
            <table id="list_table" class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Lab</th>
                        <th>Type</th>
                        <th>Form</th>
                        <th>Min Temp</th>
                        <th>Max Temp</th>
                        <th>Attenuation</th>
                        <th>Flocculation</th>
                        <th>Comments</th>
                    </tr>
                    {% for yeast in yeasts %}
                    <tr>
                        <td></td>
                        <td>{{ yeast.name }}</td>
                        <td>{{ yeast.lab }}</td>
                        <td>{{ yeast.yeast_type }}</td>
                        <td>{{ yeast.yeast_form }}</td>
                        <td>{{ yeast.min_temp }}</td>
                        <td>{{ yeast.max_temp }}</td>
                        <td>{{ yeast.attenuation }}</td>
                        <td>{{ yeast.flocculation }}</td>
                        <td>{{ yeast.comments }}</td>
                    </tr>
                    {% endfor %}
            </table>
        {% endblock %}