alabaster==0.7.7
Babel==2.3.4
certifi==2017.11.5
chardet==3.0.4
coverage==4.0.3
Django==2.2.10
django-coverage-plugin==1.2.2
django-debug-toolbar==1.9.1
django-debug-toolbar-django-info==0.3.0
django-extensions==1.6.1
django-registration-redux==2.1
docutils==0.12
elasticsearch==5.4.0
idna==2.6
imagesize==0.7.1
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
selenium==3.8.0
six==1.10.0
sqlparse==0.2.4
urllib3==1.22
