html, body {
    height: 100%;
    margin: 0;
}

div {
    height: 100%;
    float: left;
}

#left {
    position: relative;
    width: 250px;
    margin: 20px;
    left: 75px;
}

#center {
    position: relative;
    width: 250px;
    margin: 20px;
    left: 225px;
}

#right {
    position: relative;
    width: 250px;
    margin: 20px;
    left: 300px;
}

#header {
    display: inline;
    float: none;
    position: center;
}