body.modal-open {
    overflow: visible;
}

div#addhops {
    overflow-x: auto;
    overflow: visible;
}

div#updatehops {
    overflow-x: auto;
    overflow: visible;
}

div#deletehops {
    overflow-x: auto;
    overflow: visible;
}

div#add_button {
    left: 50px;
}